@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  background-color: #e5e5e5;
  background-image: url(./assets/image_geometry_1.png);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

nav ul {
  display: none;
}

#menupng {
  margin-top: 19px;
  margin-left: 90%;
}

.project-ins ul {
  display: flex;
  justify-content: start;
  padding: 0;
  margin-left: 16px;
  gap: 16px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 10.3334px;
  font-weight: 300;
}

#responsive-menu {
  background-image: url(./assets/image_geometry_menu_1.svg);
  background-repeat: no-repeat;
  flex-direction: column;
  position: absolute;
  display: none;
  height: 101vh;
  width: 100vw;
  justify-content: center;
  text-align: center;
  z-index: 10;
  background-color: #f9f9fa;
  margin-top: -12%;
  margin-bottom: -10%;
}

.menu-close {
  width: 16px;
  position: absolute;
  right: 5%;
  top: 4%;
}

#responsive-menu ul {
  display: flex;
  height: 35vh;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  gap: 5%;
  margin-top: -5%;
  text-align: center;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#responsive-menu a {
  text-decoration: none;
  color: #000;
}

.tm-links {
  padding: 2vh;
}

.imgMenu {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#pr1-pop-up {
  display: none;
}

.name {
  margin-left: 16px;
  margin-top: 104px;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.container1 p {
  margin-left: 16px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #1a2236;
}

footer button {
  display: flex;
  justify-content: center;
  gap: 16px;
  box-sizing: border-box;
  padding-top: 32px;
  padding-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background-color: #1a2236;
  color: #92dcdc;
  border: none;
}

.container1 button {
  width: 90%;
  height: 50px;
  margin-top: 36px;
  margin-left: 5%;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.cont-img1 {
  width: 100%;
}

.cont-img2 {
  display: none;
}

.after-head .cont-img1 {
  margin-left: 0;
  margin-top: 32px;
}

.works {
  display: grid;
  grid-template-columns: auto;
}

.works h2 {
  margin-left: 16px;
  margin-top: 40px;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #1a2236;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.pr-img1 {
  margin-left: 0;
  margin-top: 32px;
  width: 100%;
}

.pr-img {
  margin-left: 0;
  margin-top: 0;
  width: 100%;
}

.project-ins {
  margin-left: 0;
  margin-top: 0;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
  width: 100%;
}

.project-ins h3 {
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.project-ins li {
  background-color: #98dede;
  list-style: none;
  padding: 6px 10px;
  text-align: center;
}

.project-ins button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 17px;
  margin-bottom: 20px;
  background-color: #1a2236;
  border: 1px solid #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  gap: 15px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about h2 {
  margin-top: 56px;
  margin-left: 16px;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

.about p {
  margin-top: 20px;
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
}

.about button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  align-items: center;
  gap: 15px;
}

.languages {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 40px;
  background-color: #1c528a;
}

.set-h {
  padding-top: 50px;
  padding-left: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.set-ul {
  margin-top: 21px;
  margin-bottom: 53px;
  padding-left: 66px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.set-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.frameworks {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  background-color: #e2505c;
}

.skills {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 15px;
  background-color: #febf52;
}

.contact-form {
  width: 100%;
  background-image: url(./assets/image_geometry_1.png);
  background-repeat: no-repeat;
  background-color: #f9f9fa;
  margin-left: -2px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  margin-top: 106px;
  margin-left: 18px;
  margin-bottom: 20px;
  color: #1a2236;
}

.contact-form p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-left: 20px;
  margin-top: -10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#full-name {
  width: 90%;
  height: 52px;
  margin-left: 16px;
  margin-top: 32px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
}

::placeholder {
  padding-left: 16px;
}

.form-items {
  width: 90%;
  height: 52px;
  margin-left: 16px;
  margin-top: 8px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
}

#text-area {
  height: 112px;
}

.start-collab {
  width: 92%;
  height: 44px;
  margin-left: 16px;
  margin-top: 20px;
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

footer {
  width: 100%;
  background-color: #1a2236;
}

.footer-icons {
  display: flex;
}

.stack-img {
  margin-top: 30px;
  margin-left: 16px;
  margin-bottom: 40px;
}

.icons-img {
  margin-top: 30px;
  margin-left: 29px;
  margin-bottom: 40px;
}

button:hover {
  background-color: yellowgreen;
  cursor: pointer;
}

.prtemplate2-gem {
  display: none;
}

.prtemplate3-img {
  display: none;
}

.prtemplate-4 {
  display: none;
}

.dots-3 {
  display: none;
}

.img2 {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    background: none;
    overflow: hidden;
    overflow-y: scroll;
  }

  a {
    text-decoration: none;
    color: #1a2236;
  }

  #menupng {
    display: none;
  }

  #responsive-menu {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  nav ul {
    display: flex;
    justify-content: center;
    padding-top: 38px;
    padding-bottom: 38px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    gap: 50px;
    color: #1a2236;
  }

  .container1 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .cont-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-image: url(./assets/image_dots.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .name {
    font-size: 110px;
    resize: both;
  }

  .container1 p {
    width: 63%;
    font-size: 14px;
    margin-top: 60px;
  }

  button {
    transition: background-color, 0.2ms, ease-in-out, 1000ms;
  }

  .container1 button {
    width: 100%;
    height: 70px;
    margin-top: 59px;
  }

  .cont-img1 {
    display: none;
  }

  .cont-img2 {
    display: flex;
    resize: both;
    z-index: -999;
    width: 100%;
    height: 100%;
  }

  .works {
    margin-top: 210px;
  }

  .pr-h2 {
    background-image: url(./assets/image_dots.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  .pr-title-pr1 {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .pr-title-pr1 h2 {
    font-size: 110px;
    transform: rotate(-90deg);
    margin-top: 76px;
  }

  .pr-img1 {
    margin-top: 0;
    overflow: visible;
  }

  .prtemplate-2 {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }

  .des-pr3 {
    height: 110%;
  }

  .des-pr4 {
    max-width: 100%;
    overflow: scroll;
    background-color: #f9f9fa;
  }

  .prtemplate2-gem {
    display: flex;
  }

  .prtemplate2-gem img {
    max-width: 100%;
    overflow: hidden;
    height: 110%;
  }

  .prtemplate-3 {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .prtemplate3-grid {
    display: flex;
    flex-direction: column;
  }

  .prtemplate3-img {
    display: flex;
  }

  .prtemplate3-img img {
    max-width: 100%;
  }

  .prtemplate-4 {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .prtemplate4-back {
    background-image: url(./assets/image-geometry_5.svg);
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .prtemplate4-back img {
    float: left;
  }

  .about {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: row-reverse;
  }

  .about-col-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .about-col-1 h2 {
    font-weight: 400;
    font-size: 110px;
    margin: 0;
  }

  .about-col-1 p {
    line-height: 21px;
  }

  .about-col-1 button {
    width: 40%;
    height: 10%;
  }

  .about-col-2 {
    width: 50%;
  }

  .col-2-child {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .languages,
  .frameworks,
  .skills {
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .dots-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .dots-3 img {
    height: 65%;
  }

  .contact-form {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .img1 {
    background-image: url(./assets/image-geometry_6.svg);
    background-repeat: no-repeat;
  }

  .form-ins {
    max-width: 40%;
    text-align: center;
  }

  .form-ins h2 {
    font-weight: 400;
    font-size: 110px;
    margin-top: 168px;
    line-height: 100%;
  }

  .form-ins p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
  }

  .name-email {
    margin-top: 82px;
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  #full-name,
  #email {
    margin-top: 0;
  }

  #full-name {
    padding-right: 0;
    max-width: 254px;
  }

  #email {
    margin-left: 0;
    margin-right: 28px;
    max-width: 253px;
  }

  #text-area {
    max-width: 544px;
    height: 140px;
  }

  .start-collab {
    max-width: 254px;
    height: 70px;
    margin-top: 40px;
    margin-bottom: 135px;
    margin-left: 0;
    padding: 0;
  }

  .img2 {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 350px;
    height: 350px;
  }

  footer {
    max-width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
  }

  button:hover {
    background-color: white;
    border: 1px solid #1a2236;
    color: #1a2236;
  }

  .project-ins {
    opacity: 0;
    margin-top: -190px;
    transition: opacity, 0.2ms, ease-in, 1200ms;
  }

  .project-ins:hover {
    opacity: 1;
    cursor: pointer;
  }
}
